html {
  background: #977AD4;
  color: #ffffff;
  margin: auto;

}


h1 {
  font-size: 2.5em;
  margin: auto;
  text-align: center;

}

h2 {
  font-size: 1.8em;
  
}

.tabs {
  margin-top: 50px;
  margin-bottom:20px;
}

.tabs .tab {
  background: #ccc;
  padding: 5px;
}

.tabs .active {
  background: white;
  border: 1px solid black;
  border-bottom-width: 0;
}

.content .tab {
  display: none;
  padding: 20px;
}

.content .active {
  display: block;
}